/* BUTTON STYLES */

.btn-container {
  
  @media screen and (max-width: 992px) {
  }
}



// main button container

.ui-btn {
  display: flex;
  color: $f;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: $font-third;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1;
  background-color: $color-main;
  padding: 15px 0;
  justify-content: center;
  width: 276px;
  transition: 0.3s;
  line-height: 21px;


  &:hover {
    text-decoration: none;
    transition: 0.3s;
    transform: scale(0.95);
    opacity: 0.5;
  }

  &.ui-btn-line {
    background-color: transparent;
    border: 2px solid $f;
    color: $f;
  }


  &.ui-btn-dark {
    background-color: $b;
    color: $f;
  }

  &.ui-btn-arrow {
    background-color: transparent;
    width: 40px;
  }

}


