// Footer

#main {
  background-color: $color-secondary;
  padding: 50px 0 0;

  @include isLarge {
    padding: 80px 0 0;
  }

  section.footer-main {

  .container {
    display: flex;
    justify-content: space-between;
  

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
    .content {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
  
      .block-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
      

        @include isLarge {
          flex-direction: row;
          align-items: flex-start;
        }

        .col-container {
          margin-bottom: 30px;
          text-align: center;

          @include isLarge {
            text-align: left;
            margin-bottom: 0;
          }

          h2 {
            font-family: $font-secondary;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            margin: 0;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 0;
      
          }
          
          .col-items {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include isLarge {
              flex-direction: row;
            }

            .col-item {
              display: flex;
              flex-direction: column;

              @include isLarge {
                padding-right: 40px;
              }

              @include isRetina {
                padding-right: 60px;
              }

              span.item {
                a {
                  // text-transform: uppercase;
                  color: $f;
                  line-height: 30px;
                  font-size: 13px;
                  font-family: $font-secondary;
                  font-weight: 300;

                  &:hover {
                    text-decoration: none;
                    opacity: 0.5;
                  }
                }

                p {
                  font-size: 13px;
                  margin: 0;
                  color: $f;
                  font-family: $font-secondary;
                  line-height: 30px;
                  font-weight: 300;
                }

                &.phone-number {
                  // margin: 20px 0;
                }

                &.locations {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 30px;
                }

                &.social {
                 
                  a {
                    margin-right: 15px;

                    &::before {
                      display: none;
                    }
                  }
                }
              }
              
            }
          }

          &:nth-last-child(1) {

            .col-items {

              .col-item {

                &:nth-last-child(1) {
                  padding: 0;
                }
              }
            }
          }

        }

        &:nth-child(2) {
          display: flex;
          justify-content: center;

          .footer-logo {
            margin-top: 50px;
          }
        }

      }



    }
  }

    // copywrite
  .footercopy {
    padding: 7px 0 0;
    position: relative;
    z-index: 1;


    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0;
      margin: 0;
      max-width: 100%;
    }


    @media screen and (max-width: 700px) {
      margin-top: 0;
    }
    .socialbar {
      display: flex;
      @media screen and (max-width: 700px) {
        padding: 0 0 20px;
      }
    }

    .row {
      width: 100%;
      margin-top: 50px;


      &:nth-child(1) {
        background-color: $color-secondary;
        display: flex;
        justify-content: center;
        padding: 10px 15px;

        @include isLarge{
          justify-content: center;
        }
        
        .flexcen {
          margin: 0;
          .copy__content {
            margin: 0 auto;
            color: $f;
            text-transform: capitalize;
            text-align: center;
            padding-bottom: 10px;

            span {
              color: $f;
              font-size: 12px;
              font-weight: 300;
  
            }
          }

        }
  
      }

      &:nth-child(2) {
        background-color: $f;
        margin: 0;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        

        @include isLarge {
          justify-content: flex-end;
          padding: 10px 15px;
        }

        .flexcen {
          margin: 0;
        }

        .copy__content {
          position: relative;

          a {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
          }
          
        }
      }

      .footer-links {
      
        
       @include isLarge {
        padding-left: 10px;
       }
        

        @include isRetina {
          position: absolute;
          right: 15px;
        }

        a {
          font-weight: normal;
        }
      }
    }


    .flexcen {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
 
      
      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }
    }

    .flexcen .copy__content {
      margin: 0 auto;
      color: $b;
      text-transform: capitalize;

      font-size: 16px;

      @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    span.l {
      color: $b;

      font-size: 16px;
      font-weight: normal;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    .copy__content a {
      color: $b;

      font-size: 16px;
      font-weight: normal;
    }

    .flexcen {
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 ;
      margin: 0 auto 20px;
      font-weight: normal;

     
      justify-content: space-between
    }

  }

}



