// --------------------------------------------------------------------------
// SECTION STYLES
// --------------------------------------------------------------------------

section.welcome {
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: center;
  margin-top: 45px;

  @include isRetina {
    min-height: 900px;
  }


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    .mySwiper1 {
      width: 100%;
      height: 100%;

      .swiper-wrapper {

        .swiper-slide {
        
          picture {
            width: 100%;
            height: 100%;
      
            &:after {
              content: close-quote;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              background: rgb(20,21,21);
              background: linear-gradient(180deg, rgba(20,21,21,0.5) 100%, rgba(20,21,21,1) 100%);
              height: 100%;
            }
      
      
            img {
              object-fit: cover;
              object-position: center;
              height: 100%;
              width: 100%;
              // @media screen and (max-width: 1240px) {
              //   opacity: 0.3;
              // }
              @media screen and (max-width: 700px) {
                // opacity: 0.3;
                // object-position: 75%;
              }
            }
          }
      
  
  
          .container {
            position: absolute;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 50%;
            top: 65%;
            transform: translate(-50%, -50%);
            padding-top: 100px;
  
            @include isRetina {
              padding-top: 0;
            }
            
        
  
            .content {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
  
      
        
              h1.sec-title {
                font-weight: bold;
              }

              h2 {
                text-transform: uppercase;
                letter-spacing: 5px;
              }
              
              p {
                font-weight: bold;
                margin-bottom: 0;
                line-height: 1.8;
      
              }
        
              .btn-container {
                margin-top: 50px;
                position: relative;
                z-index: 999;
              }
            }
          }
  
  
          &.last-slide {
            .container {
              top: 55%;


              .btn-container {
                margin-top: 100px;
              }
            }
          }
  
        }
  
      }





      .swiper-pagination{
        // position: absolute;
        position: absolute;
        // left: 10px;
        // top: 44.5%;
        display: flex;
        // flex-direction: column;
        bottom: 30px;
        align-items: center;
        justify-content: center;
  
  
        @media screen and (max-width: 600px) {
          left: -12px;
        }
      }
  
      .swiper-pagination-bullet{
        border-radius: 1px;
        background: $f;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 2px solid $f; 
        // opacity: 1;
  
      }
  
      .swiper-pagination-bullet-active {
        background: $f;
      }
  
      .swiper-button-next, .swiper-button-prev{
        opacity: 0.7;
        color: $color-secondary;
        transition: all 0.3s ease;
        
      }
      .swiper-button-next:hover, .swiper-button-prev:hover{
        opacity: 1;
        color: $color-secondary;
      }


    }

  }
 
}

section.about {
  background-color: $color-secondary;
  position: relative;
  display: flex;
  padding: 80px 0;

  .container {

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
        margin-bottom: 0;
        
      }


      .col-container {
        display: flex;
        justify-content: space-between;
        padding: 70px 0 0;
        flex-direction: column;
        align-items: center;
        

        @include isLarge {
          flex-direction: row;
        }

        .col-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-bottom: 50px;

          @include isLarge {
            width: 33%;
            margin-bottom: 0;
          }


          p {
            text-align: center;
          }

        
        }
      }
    }
  }

}

section.what-we-do {
  background-color: $color-secondary;
  position: relative;
  display: flex;
  padding: 0 0 80px;

  @include isLarge {
    padding: 0 0 80px;
  }

  .container {

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;


        @include isLarge {
          flex-direction: row;
          padding: 70px 0;
        }
 

        .col-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          @include isLarge {
            width: 45%;
            margin-bottom: 0;
            align-items: flex-start;
          }


          p {
            text-align: center;
            
          }

          &:nth-child(1) {
            margin-bottom: 50px;

            h2 {
              text-align: center;

              @include isLarge {
                text-align: left;
              }
            }

            .img-container {
              width: 100%;
  
              picture {
                display: flex;
                justify-content: center;

                @include isLarge {
                  justify-content: flex-end;
                }
              }
            }
          }

          &:nth-child(2) {

            .img-container {
              width: 100%;
              margin-bottom: 40px;

              picture {
                display: flex;
                justify-content: center;

                @include isLarge {
                  justify-content: flex-start;
                }
              }
            }

            p {
              text-align: center;
              margin-bottom: 50px;

              @include isLarge {
                text-align: left;
                margin-bottom: 20px;
              }
            }
          }


        
        }
      }
    }
  }

}

section.iv-vitamin {
  background-color: $color-secondary;
  position: relative;
  display: flex;

  .container {

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .slider-container {
        height: 100%;
        width: 100%;
        display: flex;
      

        @include isLarge {
          width: 100%;
        }

        
        .mySwiper {  
          width: 100%;
          margin-right: 0;
          padding-bottom: 100px;
  
          @include isLarge {
            width: 100%;
          }

          .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3, p {
              color: $f;
              text-align: center;
            }

            p {
              margin: 0
            }

            .btn-container {
              margin-top: 10px;
            }
    
          }
  
        

            .swiper-pagination-bullet{
              // background-color: $f;
            }

            .swiper-pagination-bullet-active {
              // background-color: $f;
            }
        
            .swiper-button-next,.swiper-button-prev {
              color: $f;
              // right:35%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.3s;
              top: 96%;
              width: 60px;
              height: 60px;
              padding: 12px;
              right: 10%;
              transform: translate(-50%, -50%);

              // @include isSmall {
              //   width: 40px;
              //   height: 40px;
              // }

              @include isMedium {
                width: 60px;
                height: 60px;
                right: 35%;
              }
        
        
              &:after {

                display: none;
              }
        
        
        
              &:hover {
                opacity: 0.6;
                transition: 0.3;
              }

              svg {
                width: 100%;
                height: 100%;
              }

              span {
                margin: 0 15px;
                font-size: 20px;
                font-weight: 500;
              }
            }
        
            .swiper-button-prev {
              rotate: 180deg;
              // left: 35%;
              left: 10%;
              transform: translate(-50%, 50%);
              opacity: 0.13;

              span {
                rotate: -180deg;
    
              }

              @include is1500 {
                
              }

              @include isMedium {
    
                left: 35%;
              }
        
            }

        
        
        }
      }

      .btn-container {
        margin-top: 30px;
      }

    }
  }

}

section.col-main {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $color-secondary;
  padding: 50px 0;

  @include isLarge {
    padding: 100px 0 50px;

  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 1400px;
    padding: 0 15px;

    @include isLarge {
      padding: 0;
    }


    .content {
      width: 100%;
      display: flex;


      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        @include isLarge {
          flex-direction: row;
          justify-content: flex-end;
        }
        
        .col-item {
          width: 100%;
          display: flex;


          @include isLarge {
            width: 60%;
          }
 

          .col-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }


          &:nth-child(1) {

            .col-content {
              width: 100%;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 50px;

              @include isLarge {
                width: 80%;
                align-items: flex-start;
                margin-bottom: 0;
              }


              p {
                margin-bottom: 50px;
                text-align: center;

                @include isLarge {
                  text-align: left;
                }
              }

              h3 {
                font-size: 20px;
              }


              .treatment-links {
                display: flex;
                margin: 10px 0 50px;
                flex-direction: column;
                

                @include isLarge {
                  flex-direction: row;
                  align-items: center;
                }

                ul {
                  padding: 0;

                  @include isLarge {
                    padding-left: 40px;
                  }


                  li {
                    list-style: none;

                    a {
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      line-height: 28px;
                      color: $f;

                      div.wline {
                        width: 20px;
                        height: 2px;
                        background-color: $f;
                        margin-right: 20px;
                      }
                    }
                  }

                  &:nth-child(2) {
                    padding-left: 0;

                    @include isLarge {
                      padding-left: 60px;
                    }
                  }
                }


              }
            }
          }


          &:nth-child(2) {
            width: 100%;
            display: flex;
            justify-content: center;

            @include isLarge {
              width: 40%;
              justify-content: flex-end;
            }


            .col-content {

            }
          }

        }
      }
    }
  }


  // Column Reverse
  &.col-reverse  {
    
    .content {


      .col-container {
        flex-direction: column;

        @include isLarge {
          flex-direction: row-reverse;
        }

        .col-item {

          &:nth-child(1) {
            .col-content {
              display: flex;
              justify-content: flex-end;


              h2 {
        
                text-align: center;


                @include isLarge {
                  text-align: left;
                }
              }

              .icon-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 50px;

                @include isLarge {
                  justify-content: flex-end;
                  margin-top: 0;
                }
              }
            }
          }

        }
      }
    }
  }

}

section.latest-stories {
  background-color: $color-secondary;
  position: relative;
  display: flex;
  padding: 50px 0 0;
  
  @include isLarge {
    padding: 80px 0;
  }

  .container {

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


  

      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;


        @include isLarge {
          flex-direction: row;
        }

        .col-item {
          width: 80%;
          display: flex;
          align-items: flex-start;
          margin-bottom: 50px;

          @include isLarge {
            width: 27%;
            margin-bottom: 0;
          }

          div.wline {
            width: 75px;
            height: 2px;
            background-color: $f;
            margin-right: 20px;
            margin-top: 12px;
          }

          .col-content {
            span.title {
              font-size: 16px;
              font-weight: 500;
              color: $color-main;
            }

            span.date {
              color: $color-main;
              font-weight: 300;
              font-size: 18px;
            }


            p {
              font-size: 22px;
              font-weight: 300;
              line-height: 36px;
              margin-top: 20px;

              @include isLarge {
                font-size: 28px;
              }
            }
          }



        }

      }


    }
  }

}

section.col-instagram {
  background-color: $color-secondary;
  position: relative;
  display: flex;
  padding: 50px 0;


  @include isLarge {
    padding: 80px 0;
  }

  .container {

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .col-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .col-item {
          display: flex;
          // justify-content: space-between;
          justify-content: center;
          // gap: 30px;
          flex-direction: column;
          align-items: center;

          @include isLarge {
            flex-direction: row;
          }

          .image-container {
            margin: 10px;

            a {
              &::before {
                display: none;
              }
            }
          }


        }
      }


      .btn-container {
        margin-top: 30px;
      }
      


    }
  }

}

section.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  min-height: 800px;


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;

      &::after {
        content: close-quote;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.4) 100%, rgba(0,0,0,0) 100%);
        height: 100%;
      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;

        @media screen and (max-width: 1240px) {
          // opacity: 0.3;
        }
      }
    }

  }


  .container {
    display: flex;
    flex-direction: column;
    
    @include isLarge {
      flex-direction: row;
      max-width: 97%;
    }


    .formcontent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .content-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;



        @include isLarge {
          flex-direction: row;
        }


        .content {
          width: 100%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          text-align: center;

          @include isLarge {
            width: 45%;
          }
  
          h2 {
            font-size: 30px;
            color: $f;
            line-height: 1.5;
            text-align: left;
  
            @include isLarge {
              font-size: 40px;
            }
  
            @include isRetina {
              font-size: 45px;
            }
          }
  
          p {
            width: 100%;
            text-align: left;
            margin: 20px 0 0;

            color: $f;
            
      
            a {
              color: $f;
  
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
  
        form {
          width: 
          100%;
          
          @include isLarge {
            width: 45%;
           
          }
        }
  
        .formpwrap {
          display: flex;
          gap: 15px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          margin: 0 auto;
      
          .input {
            width: 100%;
  
            @include isMedium {
              width: 45%;
            }

          }
        }
  
        button.ui-btn {
          border: none;
          margin-bottom: 10px;
          color: $f;
          background-color: transparent;
          border: 2px solid $f;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 30px auto 0;
          font-size: 16px;

          @include isLarge {
            font-size: 20px;
          }

          &:hover {
            opacity: 0.5;
          }
  
        }
      }

    }

    .image-container {
      width: 100%;
      margin-top: 50px;
      

      @include isLarge {
        width: 50%;
        margin-top: 0;
      }

      img {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

  }
  

}

// BEAUTY BAR

section.welcome-br-pg {
  position: relative;
  min-height: 700px;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  margin-top: 45px;

  @include isRetina {
    min-height: 700px;
  }


  .container {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding-top: 100px;

    @include isRetina {
      padding-top: 0;
    }
    


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;



      h1.sec-title {
        font-weight: bold;
      }

      h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      
      p {
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1.8;

      }

      .btn-container {
        margin-top: 50px;
        position: relative;
        z-index: 999;
      }
    }
  }
 
}

section.col-beauty-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $color-secondary;
  padding: 100px 0;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 1400px;
    padding: 0;


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;


      .col-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        @include isLarge {
          flex-direction: row;
          justify-content: flex-end;
        }
        
        .col-item {
          width: 100%;
          display: flex;


          @include isLarge {
            width: 60%;
          }
 

          .col-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            h3 {
              font-size: 16px;
            }

            .text-wrapper {
              padding-left: 90px;
            }
          }


          &:nth-child(1) {

            .col-content {
              width: 80%;
              margin: 0 auto;
              display: flex;
              align-items: flex-start;
              justify-content: center;


              p {
                margin-bottom: 50px;
              }

              h3 {
                font-size: 20px;
              }

            }
          }


          &:nth-child(2) {
            width: 40%;
            display: flex;
            justify-content: flex-end;


            .col-content {

              .img-container {
                position: relative;

                picture {


                  position: relative;

                  &::after  {
                    content: close-quote;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    background: rgb(0,0,0);
                    background: linear-gradient(180deg, rgba(0,0,0,0.20772058823529416) 30%, rgba(0,0,0,0.773546918767507) 90%);
                    height: 100%;
                  }
                }


                
              }


              .icon-container {
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px 20px;
                bottom: 0;

                a {

                  font-size: 16px;
                  font-weight: 600;
                  text-transform: uppercase;
                  color: $f;
                }
              }
            }
          }

        }


        &:nth-child(2) {

          .col-item {

            .col-content {
              
                .accordion-container {
                  margin-top: 50px;

                  .text-content {
                    z-index: 1;
                    border-bottom: 1px solid rgba(255,255,255, 0.46);
                    margin-bottom: 30px;
                  }
  
                  button.course-accordion {
                    color: $f;
                    background-color: transparent;
                    font-size: 30px;
                    font-weight: 200;
                    // text-transform: uppercase;
                    width: 100%;
                    text-align: left;
                    border: none;
                    outline: none;
                    display: flex;
                    align-items: center;
  
                    @media screen and (max-width: 1350px) {
                      font-size: 30px;
                    }
  
                    @media screen and (max-width: 500px) {
                      font-size: 30px;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                    }

                    span.icon {
                      transition: 0.3s;
                      margin-right: 10px;
                    }
                  }
  
  
        
                  /*When the button is active or mouse hovers*/

                  button.course-accordion.active {
                    
                    span.icon {
                      transform: rotate(90deg);
                      transition: 0.3s;
                    }
                  }
                     

                  button.course-accordion.active,
                  button.course-accordion:hover {
                      // background-color: rgba(166,166,166,0.6);
                      border: white;
  
                      &:focus {
                        outline: 0 !important;
                      }


                  }
                            
                  /*button not active*/
                  // button.course-accordion:after {
                  //     content: '\002B';
                  //     content: "+";
                    
  
                  // }
                
                  /* minus button */
                  // button.course-accordion.active:after {
                  //     content: "\2212";
                  //     background: $f;
                  //     color: $color-main;
                  //     font-weight: 400;
                  // }
  
        
                  div.course-panel {
                      padding: 0 18px;
                      max-height: 0;
                      overflow: hidden;
                      transition: max-height 0.2s ease-out;
                      // width: 96%;
                      // line-height: 1.8;
                      letter-spacing: .4px;
                      font-weight: 400;
                      font-style: normal;
                      color: #000;
                      text-align: left;
                      height: 100%;
                      // border-bottom: 1px solid $f;
  
                      @media screen and (max-width: 500px) {
                        padding: 0;
                      }
                  }
                }


            }
          }
        }
      }
    }
  }


  // Column Reverse
  &.col-reverse  {
    
    .content {
      .col-container {
        flex-direction: row-reverse;




        .col-item {

          &:nth-child(1) {
            .col-content {
              display: flex;
              justify-content: flex-end;

              .icon-wrapper {
                width: 100%;
                display: flex;
                justify-content: flex-end;
              }
            }
          }

        }
      }
    }
  }

}

section.benefits {
  background-color: $color-secondary;
  position: relative;
  display: flex;
  padding: 80px 0;

  .container {

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
        margin-bottom: 0;
        
      }


      .col-container {
        display: flex;
        justify-content: space-between;
        padding: 70px 0;

        .col-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 30%;


          p {
            text-align: center;
          }

          h4 {
            text-align: center;
          }

        
        }
      }
    }
  }

}

// INTERIOR PAGE
section.welcome-interior {
  position: relative;
  min-height: 500px;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  margin-top: 45px;

  @include isRetina {
    min-height: 600px;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    picture {
      width: 100%;
      height: 100%;

      &:after {
        content: close-quote;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgb(20,21,21);
        background: linear-gradient(180deg, rgba(20,21,21,0.5) 0%, rgba(20,21,21,0.5) 100%);
        height: 100%;
      }


      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          opacity: 0.3;
          object-position: right;
        }
      }
    }

  }


  .container {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding-top: 100px;

    @include isRetina {
      padding-top: 0;
    }
    


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;



      h1.sec-title {
        font-weight: bold;
      }

      h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      
      p {
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1.8;

      }

      .btn-container {
        margin-top: 50px;
        position: relative;
        z-index: 999;
      }
    }
  }
 
}

section.nav-breadcrumbs {
  position: relative;
  padding: 15px 0;
  background-color: $color-secondary;

  .container {

    .content {
      display: flex;
      justify-content: center;

      .links {
        span.link-container {
          a {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
          }

          span.l {
            font-size: 16px;
            font-weight: 600;
            color: $color-main;
            margin: 0 5px
          }
        }
      }
    }
  }
}

section.col-interior {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $color-secondary;
  padding: 50px 0;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    max-width: 1400px;
    padding: 0;


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text-container {
        width: 70%;
        padding-bottom: 50px;

        margin: 0 auto;
        p {
          text-align: center;
        }
      }


      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        width: 100%;

        @include isLarge {
          flex-direction: row;
        }


        
        .col-item {
          width: 100%;
          display: flex;
          flex-direction: column;


          @include isLarge {
            width: 48%;

          
          }
 

          .col-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }


          &:nth-child(1) {

            .col-content {
              width: 80%;
              margin: 0 auto;
              display: flex;
              align-items: flex-start;
              justify-content: center;


              p {
                margin-bottom: 50px;
              }

              h3 {
                font-size: 20px;
              }


            }
          }


          &:nth-child(2) {
            width: 48%;
            display: flex;
            justify-content: flex-end;

            .col-content {
              display: flex;
              align-items: center;
            }
          }

        }
      }

      .btn-container {
        margin-top: 50px;
      }
    }
  }

}

section.options {
  background-color: $color-secondary;
  position: relative;
  display: flex;
  padding: 80px 0;

  .container {
    max-width: 1400px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
        margin-bottom: 0;
        
      }


      .col-container {
        display: flex;
        justify-content: space-between;
        padding: 70px 0;

        .col-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border: 1px solid $f;
          width: 32%;
          padding: 80px  30px 40px;

    

          .icon-wrapper {
            display: flex;
            justify-content: center;

            margin: 30px 0;

            .col-icon {
              display: flex;
              margin: 20px;
              align-items: center;
              
              .icon {
                margin-right: 15px;
              }

              .text {
                color: $f;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }


          p {
            text-align: center;
          }

          h4 {
            text-align: center;
            font-size: 25px;
            font-weight: 500;
          }

          .btn-container {
            margin-top: 30px;

            a {
              width: 100%;
              letter-spacing: 1px;
              font-size: 16px;
              font-size: 500;
              font-family: $font-third;
              

              span {
                margin: 0 20px
              }
            }
          }

        
        }
      }
    }
  }

}